<h3><%=  @challenge.title %></h3>
<p><%= @challenge.description %></p>
<% if @solution.present? %>
  <p>Você já respondeu esse desafio.</p>
<% else %>
  <%= link_to 'Responder', new_challenge_solution_path(@challenge) %>
<% end %>

<%= link_to 'Soluções', challenge_solutions_path(@challenge) %>

<% if @comments.present? %>
<h2>Comentários</h2>
  <% @comments.each do |comment| %>
    <h5>Enviado por:<%= comment.user.email %></h5>
    <p>Comentário: <%= comment.body %></p>
  <% end %>
<% end %>

<%= form_for [@challenge, @comment] do |f| %>
  <%= f.label :body, 'Comentário' %>
  <%= f.text_area :body %>
  <%= f.submit 'Comentar' %>
<% end %>